<h1>Scancodes</h1>

<div class="scancodes">
  <font face="Blitz" COLOR="#ffffff">Scan Code </font>
  <input id="INFO" type="TEXT" value="" style="border-width:0px;Width:50px" READONLY>
  <br><br>
  <font face="Blitz" COLOR="#ffffff">
  Simply click a button below and its scan code will be shown in the box above<br>
  written by skn3 <a href="http://www.acoders.com" target="_new">www.acoders.com</a>
  </font>
  <br><br>

  <input id="ESC" type="HIDDEN" value="1">
  <input id="F1" type="HIDDEN" value="59">
  <input id="F2" type="HIDDEN" value="60">
  <input id="F3" type="HIDDEN" value="61">
  <input id="F4" type="HIDDEN" value="62">
  <input id="F5" type="HIDDEN" value="63">
  <input id="F6" type="HIDDEN" value="64">
  <input id="F7" type="HIDDEN" value="65">
  <input id="F8" type="HIDDEN" value="66">
  <input id="F9" type="HIDDEN" value="67">
  <input id="F10" type="HIDDEN" value="68">
  <input id="F11" type="HIDDEN" value="87">
  <input id="F12" type="HIDDEN" value="88">
  <input id="PRINTSCREEN" type="HIDDEN" value="183">
  <input id="SCROLLLOCK" type="HIDDEN" value="70">
  <input id="PAUSE" type="HIDDEN" value="197">

  <input id="LEFTAPOST" type="HIDDEN" value="86">
  <input id="K1" type="HIDDEN" value="2">
  <input id="K2" type="HIDDEN" value="3">
  <input id="K3" type="HIDDEN" value="4">
  <input id="K4" type="HIDDEN" value="5">
  <input id="K5" type="HIDDEN" value="6">
  <input id="K6" type="HIDDEN" value="7">
  <input id="K7" type="HIDDEN" value="8">
  <input id="K8" type="HIDDEN" value="9">
  <input id="K9" type="HIDDEN" value="10">
  <input id="K0" type="HIDDEN" value="11">
  <input id="MINUS" type="HIDDEN" value="12">
  <input id="EQUALS" type="HIDDEN" value="13">
  <input id="BACKSPACE" type="HIDDEN" value="14">
  <input id="INSERT" type="HIDDEN" value="210">
  <input id="HOME" type="HIDDEN" value="199">
  <input id="PAGEUP" type="HIDDEN" value="201">
  <input id="NUMLOCK" type="HIDDEN" value="69">
  <input id="NUMRIGHTSLASH" type="HIDDEN" value="181">
  <input id="NUMTIMES" type="HIDDEN" value="55">
  <input id="NUMMINUS" type="HIDDEN" value="74">

  <input id="TAB" type="HIDDEN" value="15">
  <input id="Q" type="HIDDEN" value="16">
  <input id="W" type="HIDDEN" value="17">
  <input id="E" type="HIDDEN" value="18">
  <input id="R" type="HIDDEN" value="19">
  <input id="T" type="HIDDEN" value="20">
  <input id="Y" type="HIDDEN" value="21">
  <input id="U" type="HIDDEN" value="22">
  <input id="I" type="HIDDEN" value="23">
  <input id="O" type="HIDDEN" value="24">
  <input id="P" type="HIDDEN" value="25">
  <input id="LEFTSQUARE" type="HIDDEN" value="26">
  <input id="RIGHTSQUARE" type="HIDDEN" value="27">
  <input id="ENTERMAIN" type="HIDDEN" value="28">
  <input id="DELETE" type="HIDDEN" value="211">
  <input id="END" type="HIDDEN" value="207">
  <input id="PAGEDOWN" type="HIDDEN" value="209">
  <input id="NUM7" type="HIDDEN" value="71">
  <input id="NUM8" type="HIDDEN" value="72">
  <input id="NUM9" type="HIDDEN" value="73">
  <input id="NUMPLUS" type="HIDDEN" value="78">

  <input id="CAPS" type="HIDDEN" value="58">
  <input id="A" type="HIDDEN" value="30">
  <input id="S" type="HIDDEN" value="31">
  <input id="D" type="HIDDEN" value="32">
  <input id="F" type="HIDDEN" value="33">
  <input id="G" type="HIDDEN" value="34">
  <input id="H" type="HIDDEN" value="35">
  <input id="J" type="HIDDEN" value="36">
  <input id="K" type="HIDDEN" value="37">
  <input id="L" type="HIDDEN" value="38">
  <input id="COLON" type="HIDDEN" value="39">
  <input id="RIGHTAPOST" type="HIDDEN" value="40">
  <input id="HASH" type="HIDDEN" value="41">
  <input id="NUM4" type="HIDDEN" value="75">
  <input id="NUM5" type="HIDDEN" value="76">
  <input id="NUM6" type="HIDDEN" value="77">

  <input id="LSHIFT" type="HIDDEN" value="42">
  <input id="LEFTSLASH" type="HIDDEN" value="43">
  <input id="Z" type="HIDDEN" value="44">
  <input id="X" type="HIDDEN" value="45">
  <input id="C" type="HIDDEN" value="46">
  <input id="V" type="HIDDEN" value="47">
  <input id="B" type="HIDDEN" value="48">
  <input id="N" type="HIDDEN" value="49">
  <input id="M" type="HIDDEN" value="50">
  <input id="COMA" type="HIDDEN" value="51">
  <input id="FULLSTOP" type="HIDDEN" value="52">
  <input id="RIGHTSLASH" type="HIDDEN" value="53">
  <input id="RSHIFT" type="HIDDEN" value="54">
  <input id="UP" type="HIDDEN" value="200">
  <input id="NUM1" type="HIDDEN" value="79">
  <input id="NUM2" type="HIDDEN" value="80">
  <input id="NUM3" type="HIDDEN" value="81">
  <input id="NUMENTER" type="HIDDEN" value="156">

  <input id="LCTRL" type="HIDDEN" value="29">
  <input id="LEFTWIN" type="HIDDEN" value="219">
  <input id="ALT" type="HIDDEN" value="56">
  <input id="SPACE" type="HIDDEN" value="57">
  <input id="ALTGR" type="HIDDEN" value="184">
  <input id="RIGHTWIN" type="HIDDEN" value="220">
  <input id="MENU" type="HIDDEN" value="221">
  <input id="RCTRL" type="HIDDEN" value="157">
  <input id="LEFT" type="HIDDEN" value="203">
  <input id="DOWN" type="HIDDEN" value="208">
  <input id="RIGHT" type="HIDDEN" value="205">
  <input id="NUM0" type="HIDDEN" value="82">
  <input id="NUMPOINT" type="HIDDEN" value="83">


  <div class="table">
    <!--LAYER 1-->
    <div class="row">
      <!--ESC-->
      <div class="key w-34 h-28" onclick="INFO.value=ESC.value">
        ESC
      </div>
      <!--GAP-->
      <div class="w-24"></div>
      <% %w[F1 F2 F3 F4].each do |key| %>
        <div class="key w-28 h-28" onclick="INFO.value=<%= key %>.value">
          <%= key %>
        </div>
      <% end %>
      <!--GAP-->
      <div class="w-12"></div>
      <% %w[F5 F6 F7 F8].each do |key| %>
        <div class="key w-28 h-28" onclick="INFO.value=<%= key %>.value">
          <%= key %>
        </div>
      <% end %>
      <!--GAP-->
      <div class="w-12"></div>
      <!--F9-->
      <div class="key w-28 h-28" onclick="INFO.value=F9.value">
        F9
      </div>
      <!--F10-->
      <% %w[F10 F11 F12].each do |key| %>
        <div class="key w-34 h-28" onclick="INFO.value=<%= key %>.value">
          <%= key %>
        </div>
      <% end %>
      <!--GAP-->
      <div class="w-12"></div>
      <!--PRINT SCREEN-->
      <div class="key w-34 h-28" onclick="INFO.value=PRINTSCREEN.value">
        Print
      </div>
      <!--SCROLL LOCK-->
      <div class="key w-34 h-28" onclick="INFO.value=SCROLLLOCK.value">
        Scroll
      </div>
      <!--PAUSE-->
      <div class="key w-34 h-28" onclick="INFO.value=PAUSE.value">
        Break
      </div>
    </div>
    <!--GAP LAYER-->
    <div class="w-full h-12"></div>
    <!--LAYER 2-->
    <div class="row">
      <!--`-->
      <div class="key" onclick="INFO.value=LEFTAPOST.value">
        `
      </div>
      <% %w[1 2 3 4 5 6 7 8 9 0].each do |key| %>
      <div class="key" onclick="INFO.value=K<%= key %>.value">
        <%= key %>
      </div>
      <% end %>
      <!-- - -->
      <div class="key" onclick="INFO.value=MINUS.value">
        -
      </div>
      <!--EQUALS-->
      <div class="key" onclick="INFO.value=EQUALS.value">
        =
      </div>
      <!--BACKSPACE-->
      <div class="key w-72" onclick="INFO.value=BACKSPACE.value">
        Backspace
      </div>
      <!--GAP-->
      <div class="w-12"></div>
      <!--INSERT-->
      <div class="key w-34" onclick="INFO.value=INSERT.value">
        Insert
      </div>
      <!--HOME-->
      <div class="key w-34" onclick="INFO.value=HOME.value">
        Home
      </div>
      <!--PAGE UP-->
      <div class="key w-34" onclick="INFO.value=PAGEUP.value">
        PUp
      </div>
      <!--GAP-->
      <div class="w-12"></div>
      <!--NUM LOCK-->
      <div class="key w-34" onclick="INFO.value=NUMLOCK.value">
        Lock
      </div>
      <!--NUM /-->
      <div class="key w-34" onclick="INFO.value=NUMRIGHTSLASH.value">
        /
      </div>
      <!--NUM *-->
      <div class="key w-34" onclick="INFO.value=NUMTIMES.value">
        *
      </div>
      <!--NUM - -->
      <div class="key w-34" onclick="INFO.value=NUMMINUS.value">
        -
      </div>
    </div>
    <!--LAYER 3-->
    <div class="row">
      <!--TAB-->
      <div class="key w-38" onclick="INFO.value=TAB.value">
        TAB
      </div>
      <% %w[Q W E R T Y U I O P].each do |key| %>
        <div class="key" onclick="INFO.value=<%= key %>.value">
          <%= key %>
        </div>
      <% end %>
      <!--[ -->
      <div class="key" onclick="INFO.value=LEFTSQUARE.value">
        [
      </div>
      <!--] -->
      <div class="key" onclick="INFO.value=RIGHTSQUARE.value">
        ]
      </div>
      <!--ENTER TOP HALF -->
      <div class="key w-62 enter-top" onclick="INFO.value=ENTERMAIN.value">
        Enter
      </div>
      <!--GAP-->
      <div class="w-12"></div>
      <!--DELETE-->
      <div class="key w-34" onclick="INFO.value=DELETE.value">
        Del
      </div>
      <!--END-->
      <div class="key w-34" onclick="INFO.value=END.value">
        End
      </div>
      <!--PAGE DOWN-->
      <div class="key w-34" onclick="INFO.value=PAGEDOWN.value">
        PDwn
      </div>
      <!--GAP-->
      <div class="w-12"></div>
      <!--NUM 7-->
      <div class="key w-34" onclick="INFO.value=NUM7.value">
        7
      </div>
      <!--NUM 8-->
      <div class="key w-34" onclick="INFO.value=NUM8.value">
        8
      </div>
      <!--NUM 9-->
      <div class="key w-34" onclick="INFO.value=NUM9.value">
        9
      </div>
      <!--NUM + Top Half -->
      <div class="key w-34 top-half" onclick="INFO.value=NUMPLUS.value">
        +
      </div>
    </div>
    <!--LAYER 4-->
    <div class="row">
      <!--CAPS-->
      <div class="key w-44" onclick="INFO.value=CAPS.value">
        CAPS
      </div>
      <% %w[A S D F G H J K L].each do |key| %>
        <div class="key" onclick="INFO.value=<%= key %>.value">
          <%= key %>
        </div>
      <% end %>
      <!--;-->
      <div class="key" onclick="INFO.value=COLON.value">
        ;
      </div>
      <!--' -->
      <div class="key" onclick="INFO.value=RIGHTAPOST.value">
        '
      </div>
      <!--# -->
      <div class="key" onclick="INFO.value=HASH.value">
        #
      </div>
      <!--ENTER BOTTOM HALF -->
      <div class="key w-56 enter-bottom" onclick="INFO.value=ENTERMAIN.value">
      </div>
      <!--GAP-->
      <div class="w-126"></div>
      <!--NUM 4-->
      <div class="key w-34" onclick="INFO.value=NUM4.value">
        4
      </div>
      <!--NUM 5-->
      <div class="key w-34" onclick="INFO.value=NUM5.value">
        5
      </div>
      <!--NUM 6-->
      <div class="key w-34" onclick="INFO.value=NUM6.value">
        6
      </div>
      <!--NUM + Bottom Half -->
      <div class="key w-34 bottom-half" onclick="INFO.value=NUMPLUS.value">
      </div>
    </div>
    <!--LAYER 5-->
    <div class="row">
      <!--SHIFT-->
      <div class="key w-38" onclick="INFO.value=LSHIFT.value">
        <svg class="w-16 h-16" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <path fill="#444" d="M8 2l-7 7h4v5h6v-5h4zM10 8v5h-4v-5h-2.5l4.5-4.58 4.5 4.58h-2.5z"></path>
        </svg>
      </div>
      <!--\-->
      <div class="key" onclick="INFO.value=LEFTSLASH.value">
        \
      </div>
      <% %w[Z X C V B N M].each do |key| %>
        <div class="key" onclick="INFO.value=<%= key %>.value">
          <%= key %>
        </div>
      <% end %>
      <!--,-->
      <div class="key" onclick="INFO.value=COMA.value">
        ,
      </div>
      <!--.-->
      <div class="key" onclick="INFO.value=FULLSTOP.value">
        .
      </div>
      <!--/-->
      <div class="key" onclick="INFO.value=RIGHTSLASH.value">
        /
      </div>
      <!--SHIFT -->
      <div class="key w-90" onclick="INFO.value=RSHIFT.value">
        <svg class="w-16 h-16" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <path fill="#444" d="M8 2l-7 7h4v5h6v-5h4zM10 8v5h-4v-5h-2.5l4.5-4.58 4.5 4.58h-2.5z"></path>
        </svg>
      </div>
      <!--GAP-->
      <div class="w-46"></div>
      <!--UP-->
      <div class="key w-34 arrow" onclick="INFO.value=UP.value">
        &uarr;
      </div>
      <!--GAP-->
      <div class="w-46"></div>
      <!--NUM 1-->
      <div class="key w-34" onclick="INFO.value=NUM1.value">
        1
      </div>
      <!--NUM 2-->
      <div class="key w-34" onclick="INFO.value=NUM2.value">
        2
      </div>
      <!--NUM 3-->
      <div class="key w-34" onclick="INFO.value=NUM3.value">
        3
      </div>
      <!--NUM enter Top Half -->
      <div class="key w-34 top-half" onclick="INFO.value=NUMENTER.value">
        Enter
      </div>
    </div>
    <!--LAYER 6-->
    <div class="row">
      <!--Ctrl-->
      <div class="key w-44" onclick="INFO.value=LCTRL.value">
        Ctrl
      </div>
      <!--Win-->
      <div class="key w-34" onclick="INFO.value=LEFTWIN.value">
        <svg class="w-16 h-16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 22.011 22.012" xml:space="preserve">
          <g>
            <path d="M10.061,10.415c-0.002-0.046-0.002-0.092-0.002-0.138c0-2.766,0-5.532,0.002-8.298c0-0.074-0.01-0.148,0.015-0.23 C10.792,1.62,21.803,0.001,21.972,0c0.004,0.044,0.01,0.089,0.012,0.134c0.021,2.112,0.01,10.146-0.02,10.337 c-0.029,0.003-0.062,0.01-0.096,0.011c-0.2,0.001-0.4,0.001-0.604,0.002c-3.654,0.015-7.311,0.03-10.966,0.044 c-0.073,0-0.146,0.008-0.229-0.011C10.067,10.481,10.062,10.447,10.061,10.415z M21.959,11.627 c-0.058-0.029-0.12-0.018-0.183-0.018c-0.799-0.006-1.596-0.013-2.394-0.016c-2.116-0.008-4.233-0.015-6.353-0.023 c-0.924-0.002-1.847-0.01-2.771-0.014c-0.062,0-0.126-0.014-0.188,0.018c-0.023,0.066-0.015,0.137-0.015,0.203 c-0.002,2.789-0.002,5.578-0.002,8.367c0,0.033-0.001,0.068,0.002,0.104c0.002,0.031,0.011,0.064,0.017,0.105 c3.951,0.553,7.896,1.106,11.842,1.658c0.016,0.002,0.032-0.006,0.053-0.01c0.004-0.023,0.011-0.045,0.011-0.067 c0-3.425-0.002-6.851-0.004-10.276C21.978,11.65,21.967,11.64,21.959,11.627z M8.942,11.554c-2.949-0.013-5.896-0.024-8.846-0.036 c-0.016,0-0.031,0.008-0.055,0.016c-0.006,0.026-0.012,0.055-0.014,0.082c-0.019,0.467-0.006,7.166,0.018,7.332 c2.962,0.416,5.919,0.83,8.876,1.244c0.021,0.004,0.044-0.002,0.065-0.004c0.008-0.021,0.017-0.035,0.017-0.052 c0.002-2.839,0.002-5.679,0.002-8.519c0-0.017-0.01-0.031-0.014-0.051C8.973,11.562,8.958,11.554,8.942,11.554z M8.958,1.914 C6.054,2.34,3.149,2.768,0.246,3.196C0.179,3.205,0.112,3.221,0.039,3.235c-0.002,0.051-0.01,0.095-0.01,0.14 c-0.022,1.715-0.011,7.007,0.021,7.199c0.069,0.001,0.133,0.003,0.194,0.003c2.771-0.012,5.543-0.023,8.313-0.035 c0.109,0,0.22,0,0.327-0.003c0.037-0.001,0.075-0.013,0.121-0.021c0-2.849,0-5.688,0-8.528c0-0.022-0.008-0.044-0.012-0.063 C8.979,1.921,8.967,1.912,8.958,1.914z" />
          </g>
        </svg>
      </div>
      <!--Alt-->
      <div class="key w-34" onclick="INFO.value=ALT.value">
        Alt
      </div>
      <!--Space-->
      <div class="key w-156" onclick="INFO.value=SPACE.value">
      </div>
      <!--Alt Gr-->
      <div class="key w-34" onclick="INFO.value=ALTGR.value">
        Alt Gr
      </div>
      <!--Win-->
      <div class="key w-34" onclick="INFO.value=RIGHTWIN.value">
        <svg class="w-16 h-16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 22.011 22.012" xml:space="preserve">
          <g>
            <path d="M10.061,10.415c-0.002-0.046-0.002-0.092-0.002-0.138c0-2.766,0-5.532,0.002-8.298c0-0.074-0.01-0.148,0.015-0.23 C10.792,1.62,21.803,0.001,21.972,0c0.004,0.044,0.01,0.089,0.012,0.134c0.021,2.112,0.01,10.146-0.02,10.337 c-0.029,0.003-0.062,0.01-0.096,0.011c-0.2,0.001-0.4,0.001-0.604,0.002c-3.654,0.015-7.311,0.03-10.966,0.044 c-0.073,0-0.146,0.008-0.229-0.011C10.067,10.481,10.062,10.447,10.061,10.415z M21.959,11.627 c-0.058-0.029-0.12-0.018-0.183-0.018c-0.799-0.006-1.596-0.013-2.394-0.016c-2.116-0.008-4.233-0.015-6.353-0.023 c-0.924-0.002-1.847-0.01-2.771-0.014c-0.062,0-0.126-0.014-0.188,0.018c-0.023,0.066-0.015,0.137-0.015,0.203 c-0.002,2.789-0.002,5.578-0.002,8.367c0,0.033-0.001,0.068,0.002,0.104c0.002,0.031,0.011,0.064,0.017,0.105 c3.951,0.553,7.896,1.106,11.842,1.658c0.016,0.002,0.032-0.006,0.053-0.01c0.004-0.023,0.011-0.045,0.011-0.067 c0-3.425-0.002-6.851-0.004-10.276C21.978,11.65,21.967,11.64,21.959,11.627z M8.942,11.554c-2.949-0.013-5.896-0.024-8.846-0.036 c-0.016,0-0.031,0.008-0.055,0.016c-0.006,0.026-0.012,0.055-0.014,0.082c-0.019,0.467-0.006,7.166,0.018,7.332 c2.962,0.416,5.919,0.83,8.876,1.244c0.021,0.004,0.044-0.002,0.065-0.004c0.008-0.021,0.017-0.035,0.017-0.052 c0.002-2.839,0.002-5.679,0.002-8.519c0-0.017-0.01-0.031-0.014-0.051C8.973,11.562,8.958,11.554,8.942,11.554z M8.958,1.914 C6.054,2.34,3.149,2.768,0.246,3.196C0.179,3.205,0.112,3.221,0.039,3.235c-0.002,0.051-0.01,0.095-0.01,0.14 c-0.022,1.715-0.011,7.007,0.021,7.199c0.069,0.001,0.133,0.003,0.194,0.003c2.771-0.012,5.543-0.023,8.313-0.035 c0.109,0,0.22,0,0.327-0.003c0.037-0.001,0.075-0.013,0.121-0.021c0-2.849,0-5.688,0-8.528c0-0.022-0.008-0.044-0.012-0.063 C8.979,1.921,8.967,1.912,8.958,1.914z" />
          </g>
        </svg>
      </div>
      <!--Menu-->
      <div class="key w-34" onclick="INFO.value=MENU.value">
        <svg class="w-16 h-16" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <rect x="0" fill="none" width="24" height="24"/>
          <g>
            <path d="M4 19h16v-2H4v2zm16-6H4v2h16v-2zM4 9v2h16V9H4zm16-4H4v2h16V5z"/>
          </g>
        </svg>
      </div>
      <!--Ctrl-->
      <div class="key w-66" onclick="INFO.value=RCTRL.value">
        Ctrl
      </div>
      <!--GAP-->
      <div class="w-12"></div>
      <!--LEFT-->
      <div class="key w-34 arrow" onclick="INFO.value=LEFT.value">
        &larr;
      </div>
      <!--DOWN-->
      <div class="key w-34 arrow" onclick="INFO.value=DOWN.value">
        &darr;
      </div>
      <!--RIGHT-->
      <div class="key w-34 arrow" onclick="INFO.value=RIGHT.value">
        &rarr;
      </div>
      <!--GAP-->
      <div class="w-12"></div>
      <!--NUM 0-->
      <div class="key w-68" onclick="INFO.value=NUM0.value">
        0
      </div>
      <!--NUM .-->
      <div class="key w-34" onclick="INFO.value=NUMPOINT.value">
        .
      </div>
      <!--NUM enter bottom Half -->
      <div class="key w-34 bottom-half" onclick="INFO.value=NUMENTER.value">
      </div>
    </div>
  </div>
</div>

<table>
  <tr>
    <td align="center"><b>KEYBOARD KEY</b></td>
    <td align="center"><b>SCANCODE</b></td>
    <td align="center"><b>COMMENTS</b></td>
  </tr>
  <tr>
    <td>ESCAPE</td>
    <td>1</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>1</td>
    <td>2</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>2</td>
    <td>3</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>3</td>
    <td>4</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>4</td>
    <td>5</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>5</td>
    <td>6</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>6</td>
    <td>7</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>7</td>
    <td>8</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>8</td>
    <td>9</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>9</td>
    <td>10</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>0</td>
    <td>11</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Minus (-)</td>
    <td>12</td>
    <td>On Main Keyboard</td>
  </tr>
  <tr>
    <td>Equals (=)</td>
    <td>13</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Backspace</td>
    <td>14</td>
    <td>Backspace key</td>
  </tr>
  <tr>
    <td>Tab</td>
    <td>15</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Q</td>
    <td>16</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>W</td>
    <td>17</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>E</td>
    <td>18</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>R</td>
    <td>19</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>T</td>
    <td>20</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Y</td>
    <td>21</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>U</td>
    <td>22</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>I</td>
    <td>23</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>O</td>
    <td>24</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>P</td>
    <td>25</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Left Bracket ([)</td>
    <td>26</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Right Bracket (])</td>
    <td>27</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Return/Enter</td>
    <td>28</td>
    <td>Return/Enter on Main Keyboard</td>
  </tr>
  <tr>
    <td>Left Control</td>
    <td>29</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>A</td>
    <td>30</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>S</td>
    <td>31</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>D</td>
    <td>32</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>F</td>
    <td>33</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>G</td>
    <td>34</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>H</td>
    <td>35</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>J</td>
    <td>36</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>K</td>
    <td>37</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>L</td>
    <td>38</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Semi-Colon (;)</td>
    <td>39</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Apostrophe (&#39;)</td>
    <td>40</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Grave</td>
    <td>41</td>
    <td>Accent Grave</td>
  </tr>
  <tr>
    <td>Left Shift</td>
    <td>42</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Backslash (\)</td>
    <td>43</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Z</td>
    <td>44</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>X</td>
    <td>45</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>C</td>
    <td>46</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>V</td>
    <td>47</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>B</td>
    <td>48</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>N</td>
    <td>49</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>M</td>
    <td>50</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Comma (,)</td>
    <td>51</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Period (.)</td>
    <td>52</td>
    <td>On Main keyboard</td>
  </tr>
  <tr>
    <td>Slash (/)</td>
    <td>53</td>
    <td>On Main Keyboard</td>
  </tr>
  <tr>
    <td>Right Shift</td>
    <td>54</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Multiply (*)</td>
    <td>55</td>
    <td>On Numeric Keypad</td>
  </tr>
  <tr>
    <td>Left Alt/Menu</td>
    <td>56</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Space</td>
    <td>57</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Capital</td>
    <td>58</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>F1</td>
    <td>59</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>F2</td>
    <td>60</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>F3</td>
    <td>61</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>F4</td>
    <td>62</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>F5</td>
    <td>63</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>F6</td>
    <td>64</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>F7</td>
    <td>65</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>F8</td>
    <td>66</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>F9</td>
    <td>67</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>F10</td>
    <td>68</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>NumLock</td>
    <td>69</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Scroll Lock</td>
    <td>70</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>NumPad 7</td>
    <td>71</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>NumPad 8</td>
    <td>72</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>NumPad 9</td>
    <td>73</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Subtract (-)</td>
    <td>74</td>
    <td>On Numeric Keypad</td>
  </tr>
  <tr>
    <td>NumPad 4</td>
    <td>75</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>NumPad 5</td>
    <td>76</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>NumPad 6</td>
    <td>77</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Add (+)</td>
    <td>78</td>
    <td>On Numeric Keypad</td>
  </tr>
  <tr>
    <td>NumPad 1</td>
    <td>79</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>NumPad 2</td>
    <td>80</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>NumPad 3</td>
    <td>81</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>NumPad 0</td>
    <td>82</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Decimal (.)</td>
    <td>83</td>
    <td>On Numeric Keypad</td>
  </tr>
  <tr>
    <td>OEM_102</td>
    <td>86</td>
    <td>On UK/Germany Keyboards</td>
  </tr>
  <tr>
    <td>F11</td>
    <td>87</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>F12</td>
    <td>88</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>F13</td>
    <td>100</td>
    <td>(NEC PC98)</td>
  </tr>
  <tr>
    <td>F14</td>
    <td>101</td>
    <td>(NEC PC98)</td>
  </tr>
  <tr>
    <td>F15</td>
    <td>102</td>
    <td>(NEC PC98)</td>
  </tr>
  <tr>
    <td>Kana</td>
    <td>112</td>
    <td>Japanese Keyboard</td>
  </tr>
  <tr>
    <td>ABNT_C1</td>
    <td>115</td>
    <td>/? on Portugese (Brazilian) keyboards</td>
  </tr>
  <tr>
    <td>Convert</td>
    <td>121</td>
    <td>Japanese Keyboard</td>
  </tr>
  <tr>
    <td>NoConvert</td>
    <td>123</td>
    <td>Japanese Keyboard</td>
  </tr>
  <tr>
    <td>Yen</td>
    <td>125</td>
    <td>Japanese Keyboard</td>
  </tr>
  <tr>
    <td>ABNT_C2</td>
    <td>126</td>
    <td>Numpad . on Portugese (Brazilian) keyboards</td>
  </tr>
  <tr>
    <td>Equals</td>
    <td>141</td>
    <td>= on numeric keypad (NEC PC98)</td>
  </tr>
  <tr>
    <td>PrevTrack</td>
    <td>144</td>
    <td>Previous Track (DIK_CIRCUMFLEX on Japanese keyboard)</td>
  </tr>
  <tr>
    <td>AT</td>
    <td>145</td>
    <td>(NEC PC98)</td>
  </tr>
  <tr>
    <td>Colon (:)</td>
    <td>146</td>
    <td>(NEC PC98)</td>
  </tr>
  <tr>
    <td>Underline</td>
    <td>147</td>
    <td>(NEC PC98)</td>
  </tr>
  <tr>
    <td>Kanji</td>
    <td>148</td>
    <td>Japanese Keyboard</td>
  </tr>
  <tr>
    <td>Stop</td>
    <td>149</td>
    <td>(NEC PC98)</td>
  </tr>
  <tr>
    <td>AX</td>
    <td>150</td>
    <td>Japan AX</td>
  </tr>
  <tr>
    <td>Unlabeled</td>
    <td>151</td>
    <td>(J3100)</td>
  </tr>
  <tr>
    <td>Next Track</td>
    <td>153</td>
    <td>Next Track</td>
  </tr>
  <tr>
    <td>Enter</td>
    <td>156</td>
    <td>ENTER on Numeric Keypad</td>
  </tr>
  <tr>
    <td>Right Control</td>
    <td>157</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Mute</td>
    <td>160</td>
    <td>Mute</td>
  </tr>
  <tr>
    <td>Calculator</td>
    <td>161</td>
    <td>Calculator</td>
  </tr>
  <tr>
    <td>Play/Pause</td>
    <td>162</td>
    <td>Play/Pause</td>
  </tr>
  <tr>
    <td>Media Stop</td>
    <td>164</td>
    <td>Media Stop</td>
  </tr>
  <tr>
    <td>Volume Down</td>
    <td>174</td>
    <td>Volume -</td>
  </tr>
  <tr>
    <td>Volume Up</td>
    <td>176</td>
    <td>Volume +</td>
  </tr>
  <tr>
    <td>Web Home</td>
    <td>178</td>
    <td>Web Home</td>
  </tr>
  <tr>
    <td>Comma (,)</td>
    <td>179</td>
    <td>On Numeric Keypad (NEX PC98)</td>
  </tr>
  <tr>
    <td>Divide (/)</td>
    <td>181</td>
    <td>On Numeric Keypad</td>
  </tr>
  <tr>
    <td>SysReq</td>
    <td>183</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Right Alt/Menu</td>
    <td>184</td>
    <td>Right Alt</td>
  </tr>
  <tr>
    <td>Pause</td>
    <td>197</td>
    <td>Pause</td>
  </tr>
  <tr>
    <td>Home</td>
    <td>199</td>
    <td>Home on Arrow Pad</td>
  </tr>
  <tr>
    <td>Up</td>
    <td>200</td>
    <td>Up Arrow on Arrow Keypad</td>
  </tr>
  <tr>
    <td>Page Up/Prior</td>
    <td>201</td>
    <td>Page Up on Arrow Keypad</td>
  </tr>
  <tr>
    <td>Left</td>
    <td>203</td>
    <td>Left Arrow on Arrow Keypad</td>
  </tr>
  <tr>
    <td>Right</td>
    <td>205</td>
    <td>Right Arrow on Arrow Keypad</td>
  </tr>
  <tr>
    <td>End</td>
    <td>207</td>
    <td>End Key on Arrow Keypad</td>
  </tr>
  <tr>
    <td>Down</td>
    <td>208</td>
    <td>Down Key on Arrow Keypad</td>
  </tr>
  <tr>
    <td>Next</td>
    <td>209</td>
    <td>Next Key on Arrow Keypad</td>
  </tr>
  <tr>
    <td>Insert</td>
    <td>210</td>
    <td>Insert Key on Arrow Keypad</td>
  </tr>
  <tr>
    <td>Delete</td>
    <td>211</td>
    <td>Delete Key on Arrow Keypad</td>
  </tr>
  <tr>
    <td>Left Windows</td>
    <td>219</td>
    <td>Left Windows Key</td>
  </tr>
  <tr>
    <td>Right Windows</td>
    <td>220</td>
    <td>Right Windows Key</td>
  </tr>
  <tr>
    <td>Apps</td>
    <td>221</td>
    <td>Apps Menu Key</td>
  </tr>
  <tr>
    <td>Power</td>
    <td>222</td>
    <td>System Power</td>
  </tr>
  <tr>
    <td>Sleep</td>
    <td>223</td>
    <td>System Sleep</td>
  </tr>
  <tr>
    <td>Wake</td>
    <td>227</td>
    <td>System Wake</td>
  </tr>
  <tr>
    <td>Web Search</td>
    <td>229</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Web Favorites</td>
    <td>230</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Web Refresh</td>
    <td>231</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Web Stop</td>
    <td>232</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Web Forward</td>
    <td>233</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Web Back</td>
    <td>234</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>My Computer</td>
    <td>235</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Mail </td>
    <td>236</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Media Select</td>
    <td>237</td>
    <td>&nbsp;</td>
  </tr>
</table>
