<!DOCTYPE html>
<html>
<head>
  <title>Blitz3D Docs</title>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet" />
  <link rel="stylesheet" href="<%= relative_to_root %>/assets/style.css" type="text/css" />
</head>
<body>
  <div class="list-container">
    <div class="list">
      <h1>Command Ref.</h1>
      <a href=command_list_2d_cat.htm>2D - Category</a>
      <br />
      <a href=command_list_3d_cat.htm>3D - Category</a>
      <br />
      <br />
      <a href=command_list_2d_a-z.htm>2D - A-Z</a>
      <br />
      <a href=command_list_3d_a-z.htm>3D - A-Z</a>
      <br />
      <br />
      <a href=ascii.htm target="main">ASCII Codes</a>
      <br />
      <br />
      <a href=scancodes.htm target="main">Scancodes</a>
      <br />
      <a href=scancode/keyboard.htm target="main">Scancodes Picker</a>
      <br />
      <br />
      <a target=_top href="<%= relative_to_root %>/index.html">Index</a>

      <hr />

      <input id="search" type="text" />

      <div class="command-list">
        <ul>
        <% modules.each do |mod| %>
          <li>
            <a href="<%= relative_to module_path(mod) %>/<%= relative_to module_path(mod) %>/index.html"><%= mod.name %></a>
            <ul>
            <% mod.commands.each do |comm| %>
              <li>
                <a class="<%= 'active' if defined?(command) && command == comm %>" href="<%= relative_to(File.dirname(command_path(comm))) %>/<%= File.basename(command_path(comm)) %>"><%= comm.name %></a>
              </li>
            <% end %>
            </ul>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="main">
    <%= yield %>
  </div>
</body>
